<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Localise</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div id="wrapper">
      <header id="header">
        <div class="container container__head">
          <div class="header">
            <nav class="heder-nav">
              <a href="#" class="logo">
                <img
                  src="./image/header-logo-Localise.png"
                  alt=""
                  width="130"
                  height="27"
                />
              </a>
              <input id="opener" type="checkbox" />
              <label class="opener" for="opener"><span></span></label>
              <ul class="header__list">
                <li><a href="#">Product</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Case studies</a></li>
                <li><a href="#">Resources</a></li>
              </ul>
            </nav>
            <ul class="registration">
              <li><a href="#" class="btn bt-left btn-login">Log in</a></li>
              <li>
                <a href="#" class="btn bt-right btn-Try-it">Try it free</a>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <main>
        <div class="container">
          <div class="section__top">
            <div class="text-block-section--top">
              <h1>Accelerate localization from code to delivery</h1>
              <p>
                A localization and translation <br />
                management platform for agile teams. <br />
                Embrace automation, workflow <br />
                transparency, and fast project delivery.
              </p>
              <div class="section-btn-top">
                <a href="#" class="btn bt-left btn-main-try">Try it free</a>
                <a href="#" class="btn bt-right btn-main-book">Book a demo</a>
              </div>
              <span
                >Try all features for 14 days · No credit card required</span
              >
            </div>
            <div class="img-block-section-top">
              <img
                src="./image/image-one-block.svg"
                alt="img"
                width="759"
                height="529"
              />
            </div>
          </div>
        </div>
        <div class="purpule__blok">
          <div class="container">
            <h2>
              The preferred localization <br />
              tool of 1500+ companies
            </h2>
            <ul class="blurb">
              <li class="blurb__el"><span class="icons icon-Group"></span></li>
              <li class="blurb__el"><span class="icons icon-Frame"></span></li>
              <li class="blurb__el">
                <span class="icons icon-Frame-1"></span>
              </li>
              <li class="blurb__el">
                <span class="icons icon-Frame-2"></span>
              </li>
              <li class="blurb__el">
                <span class="icons icon-Frame-3"></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="container">
          <div class="section__container container-first--block">
            <div class="text-block-main">
              <h3>
                Control the <br />
                localization process
              </h3>
              <p>
                Collaborate with your team in a single workspace. <br />
                Add and assign <u>tasks,</u> track progress, and enjoy a <br />
                seamless localization workflow where you know <br />
                who is doing what and when.
              </p>
              <a href="#">Start now</a>
            </div>
            <div class="img-block-main">
              <img
                src="./image/project-App.svg"
                alt="image"
                width="632"
                height="632"
              />
            </div>
          </div>

          <div class="section__container container-two--block">
            <div class="text-block-main text-block-two">
              <h3>
                Shorten time <br />
                to market
              </h3>
              <p>
                Localize your product in parallel with the <br />
                development cycle. Use theu <u>Adobe XD</u>,<u>Figma</u>,<br />
                and <u>Sketch</u> plugins to start working on <br />
                translations as soon as the product design is <br />
                ready. No more idle waiting.
              </p>
              <a href="#">Start now</a>
            </div>
            <div class="img-block-main">
              <img
                src="./image/second-block-img.svg"
                alt="image"
                width="632"
                height="632"
              />
            </div>
          </div>

          <div class="section__container container-third-block">
            <div class="text-block-main">
              <h3>Ensure quality</h3>
              <p>
                Use built-in tools — e.g. <u>translation memory,</u> machine
                <br />
                translation, and <u>QA checks </u> — to enhance the quality
                <br />
                and cohesion of translations. Add product <br />
                <u>screenshots </u> for context and use the
                <u>in-context editors</u> <br />
                for instant previews.
              </p>
              <a href="#">Start now</a>
            </div>
            <div class="img-block-main">
              <img
                src="./image/Ensure.svg"
                alt="image"
                width="632"
                height="632"
              />
            </div>
          </div>

          <div class="section__container container-for--block">
            <div class="text-block-main text-block-for">
              <h3>
                Less work for <br />
                developers
              </h3>
              <p>
                Eliminate the hassle of localization and let developers <br />
                get back to their main tasks. Save hours with the <br />
                powerful <u>API,</u> <u>CLI,</u> <u>mobile SDKs,</u> and
                integrations with <br />
                <u>GitHub,</u> <u>Bitbucket,</u> <u>JIRA,</u> and more.
              </p>
              <a href="#">Start now</a>
            </div>
            <div class="img-block-main">
              <img
                src="./image/client.svg"
                alt="image"
                width="632"
                height="632"
              />
            </div>
          </div>
        </div>
        <div class="container-bagrnd">
          <div class="container">
            <h2>What can you localize with Lokalise?</h2>
            <ul class="first-menu-list">
              <li>
                <img
                  src="./image/Rectangle01.png"
                  alt="#"
                  width="160"
                  height="120"
                />
                <a href="#">Web apps</a>
                <p>
                  Any kind of web apps — backend, <br />
                  frontend, single page, blogs — you <br />
                  name it.
                </p>
              </li>

              <li>
                <img
                  src="./image/Rectangle02.png"
                  alt="#"
                  width="160"
                  height="120"
                />
                <a href="#">Mobile apps</a>
                <p>
                  Upload any mobile platform language <br />
                  files. Embed
                  <u> Lokalise iOS SDK</u>
                  or <br />
                  <u>Lokalise Android SDK</u> if you prefer.
                </p>
              </li>

              <li>
                <img
                  src="./image/Rectangle03.png"
                  alt="#"
                  width="160"
                  height="120"
                />
                <a href="#">Games</a>
                <p>
                  Our cloud software is trusted by <br />
                  many leading game developers <br />
                  around the world.
                </p>
              </li>

              <li>
                <img
                  src="./image/Rectangle04.png"
                  alt="#"
                  width="160"
                  height="120"
                />
                <a href="#">Documents</a>
                <p>
                  Upload your DOCX and static HTML <br />
                  files.
                </p>
              </li>

              <li>
                <img
                  src="./image/Rectangle05.png"
                  alt="#"
                  width="160"
                  height="120"
                />
                <a href="#">Marketing e-mails</a>
                <p>
                  Integrate with Salesforce Marketing <br />
                  Cloud (coming soon) or translate <br />
                  static e-mails.
                </p>
              </li>

              <li>
                <img
                  src="./image/Rectangle06.png"
                  alt="#"
                  width="160"
                  height="120"
                />
                <a href="#">IoT</a>
                <p>
                  We support most popular localization <br />
                  file formats.
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="container">
          <div class="simple-container container-bagrnd">
            <h2>Boost your localization team’s productivity tenfold</h2>
            <ul class="first-menu-list third__list">
              <li>
                <div class="third-list__img list--img">
                  <img
                    src="./image/Rect01.png"
                    alt="log"
                    width="145"
                    height="201"
                  />
                </div>
                <h4>Managers</h4>
                <p>
                  Update existing and launch new features and products while
                  simultaneously localizing them in multiple languages.
                  Streamline your team's workflow, maximize productivity, and
                  speed up expansion to other markets.
                </p>
                <a href="#">Learn more</a>
              </li>
              <li>
                <div class="third-list__img list--img">
                  <img
                    src="./image/Rect02.png"
                    alt="log"
                    width="179"
                    height="176"
                  />
                </div>
                <h4>Developers</h4>
                <p>
                  Set up an integration with your code repository or your own
                  custom SDK via Lokalise's powerful API. Do that once, and
                  every time you make changes in the code, they'll be
                  automatically imported to Lokalise for translation.
                </p>
                <a href="#">Learn more</a>
              </li>
              <li>
                <div class="third-list__img list--img">
                  <img
                    src="./image/Rect03.png"
                    alt="log"
                    width="179"
                    height="183"
                  />
                </div>
                <h4>Translators</h4>
                <p>
                  Eliminate double-work and neverending revisions with visual
                  context (screenshots) and live previews. Improve the quality
                  and speed of your translations with built-in CAT tools, like
                  autocomplete, inline machine translation, and translation
                  memory.
                </p>
                <a href="#">Learn more</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="bgr">
          <div class="container">
            <div class="questionnaire">
              <div class="text-block-ques">
                <blockquote>
                  <q>
                    Lokalise has turned a task we were dreading into an absolute
                    pleasure. Great platform, intuitive UX, powerful API. The
                    <br />
                    automatic text recognition for screenshots has been a <br />
                    lifesaver, and over-the-air updates are the icing on the
                    cake.</q
                  >
                </blockquote>
                <div class="qute-text">
                  <p>Edward Cooper, Chief Mobile Officer</p>
                  <a href="#">
                    <span class="icon-Frame-1 frame-icon"></span>
                  </a>
                </div>
              </div>
              <img
                src="./image/Andry.svg"
                alt="Andry"
                width="310"
                height="310"
              />
            </div>
          </div>
        </div>
        <div class="brg-orange">
          <div class="container">
            <div class="container-text-image">
              <div class="text-brg-orange">
                <img src="./image/pie.png" alt="pie" width="176" height="154" />
                <h3>
                  The most-loved translation <br />
                  management software
                </h3>
              </div>
              <div class="logo-brg-orange">
                <img src="./image/g2.png" alt="g2" width="128" height="116" />
                <img
                  src="./image/capterra.png"
                  alt="capterra"
                  width="150"
                  height="116"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="container-birdie">
          <div class="container">
            <div class="birdie-text-blok">
              <h2>
                Integrate Lokalise with <br />
                your work tools
              </h2>
              <p>
                Automate processes, eliminate routine tasks, <br />
                and track progress with ease.
              </p>
              <img src="./image/birdie.svg" alt="birdie" />
              <a href="#" class="btn btn-bird">See all integrations</a>
            </div>
          </div>
        </div>
        <div class="conteiner-bottom-main">
          <div class="container">
            <div class="conteiner-bottom-text">
              <h2>Localization made easy. Why wait?</h2>
              <p>Try for free or let us show you how it works.</p>
              <a href="#" class="btn btn-bottom-text">Try it free</a>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
        <div class="container">
          <div class="footer-top">
            <div class="first-block-text-img">
              <h4>Case Studies</h4>
              <img
                src="./image/cycle.svg"
                alt="cycle"
                width="300"
                height="300"
              />
              <a href="#"> <span class="icon-Group icon-top-footer"></span></a>
              <p>
                Riding towards global success with a 100% teammate enthusiasm
              </p>
              <a class="red_more" href="#">Read more</a>
            </div>
            <div class="first-blocl-list">
              <ul class="footer-list">
                <li><a href="#">Product</a></li>
                <li><a href="#">For developers</a></li>
                <li><a href="#">For managers</a></li>
                <li><a href="#">For translators</a></li>
                <li><a href="#">For designers</a></li>
                <li><a href="#">Integrations</a></li>
                <li><a href="#">Security</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Automations</a></li>
              </ul>
              <ul class="footer-list">
                <li><a href="#">Support</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Status</a></li>
                <li><a href="#">Product Updates</a></li>
                <li><a href="#">CLI Tool</a></li>
                <li><a href="#">API Reference</a></li>
                <li><a href="#">iOS and Android SDK</a></li>
                <li><a href="#">Supported File Formats</a></li>
              </ul>
              <ul class="footer-list">
                <li><a href="#">Company</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Careers | We`re Hiring</a></li>
                <li><a href="#">Case Studies</a></li>
                <li><a href="#">Media Kit</a></li>
              </ul>
              <ul class="footer-list">
                <li><a href="#">Legal</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
                <li><a href="#">Privacy Shield</a></li>
                <li><a href="#">DPA</a></li>
                <li><a href="#">List of Sub-processors</a></li>
                <li><a href="#">Candidates Privacy Notice</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-bottom-text">
            <div class="footer-bottom-left-text">
              <a href="#"
                ><img
                  src="./image/localise.footer.png"
                  alt="localise"
                  width="90"
                  height="21"
              /></a>
              <span
                >Localization workflow for your web and mobile <br />
                apps, games and digital content.</span
              >
            </div>
            <div class="footer-bottom-right-text">
              <p>©2001-2020</p>
              <span>All rights reserved.</span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
