.footer {
  margin-top: 88px;

  .first-block-text-img {
    width: 300px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    .red_more:hover {
      text-decoration: underline;
    }

    h4 {
      margin-bottom: 33px;
      font-weight: 600;
      font-size: 40px;
      line-height: 50px;
    }
    img {
      display: inline-block;
      margin-bottom: 30px;
    }
    p {
      margin-top: 8px;
      margin-bottom: 13px;
    }
  }
  .icon-top-footer {
    margin-top: 33px;
    font-size: 31px;
    transition: 0.8s;

    &:hover {
      color: $base-color-orange;
    }

    a {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      &:hover {
        color: $base-color-orange;
      }
    }
  }
  .footer-top {
    @media (min-width: 320px) {
      flex-wrap: wrap;
    }

    // @media (min-width: 1020px)
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: nowrap;
      border-bottom: 1px solid $base-color-black;
      padding-bottom: 90px;
    }

    .first-blocl-list {
      margin-left: 115px;
      display: flex;
      flex-wrap: wrap;
      font-weight: 400;
      font-size: 15px;
      line-height: 15px;

      @media (min-width: 320px) {
        margin-left: 15px;
      }

      @media (min-width: 1200px) {
        margin-left: 115px;
        display: flex;
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
      }

      .footer-list {
        // padding-left: 57px;
        padding: 20px 0 20px 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @media (min-width: 768px) {
          width: calc(100% / 2);
          flex-wrap: wrap;
          padding-left: 20px;
        }
        @media (min-width: 1200px) {
          padding-left: 57px;
          width: 208px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
        }
        li {
          margin-bottom: 16px;
          & a:hover {
            text-decoration: underline;
          }
        }

        li:first-child {
          font-weight: 600;
          font-size: 20px;
          line-height: 25px;

          &:first-child:hover a {
            text-decoration: overline;
          }
        }
      }
    }
  }

  .footer-bottom-text {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    .footer-bottom-left-text img {
      display: inline-block;
      padding-right: 15px;
      transition: 0.8s;

      &:hover {
        transform: scale(1.1);
      }
    }
    .footer-bottom-left-text {
      display: flex;
      align-items: center;
    }
    .footer-bottom-right-text {
      margin-right: 117px;
    }
  }
}
